@redPrincipal: #ed1d24;
@cinza: #4a4a4a;

#colors() {
  red: #ed1d24;
  lightGray: #f4f8fb;
  gray: #4a4a4a;
  footerLightBrown: #edeef0;
  footerBrown: #e6e7e8;
  borderGray: #d8dde6;
  shadowGray: rgba(69, 91, 99, 0.08);
}

*{
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.shadow-rounded {
	box-shadow: 0px 0px 10px 2px #colors[shadowGray];
	border-radius: 8px;
}

.shadow-rounded-li {
	box-shadow: 0px 0px 10px 2px #colors[shadowGray], 0px -2px 0px #colors[red] inset;
	border-radius: 8px;
}

.shadow-hover-li {
	box-shadow: 0px 0px 10px 2px #colors[shadowGray], 0px -2px 0px #colors[red] inset, -2px 0px 0px #colors[red] inset, 0px 2px 0px #colors[red] inset, 2px 0px 0px #colors[red] inset;
    border-color: transparent;
}

body{
	background-color: #colors[lightGray];

	.container{
		min-width: 320px;
	}

	header{
		background-color: #colors[red];
		height: 95px;

		h1{
			background-image: url('/img/marvel-logo.png');
			height: 95px;
			width: 237px;
			background-size: contain;
			background-repeat: no-repeat;
			text-indent: -1000px;
			overflow: hidden;

			@media (max-width: 768px) {
				margin: 0 auto;
			}
		}
	}

	main{
		padding: 36px 61px;

		@media (max-width: 768px) {
			padding: 20px 25px;
		}

		div{
			margin: 0 auto;
			max-width: 1440px;
			padding: 30px;
			background-color: #fff;
			.shadow-rounded();

			h2{
				font-weight: normal;
				color: #colors[red];
				margin-left: 15px;

				@media (max-width: 768px) {
					margin-left: 0px;
				}
			}

			#listCharacters{
				overflow: hidden;
				list-style: none;
				padding: 15px;

				@media (max-width: 768px) {
					padding: 0px;
				}

				li{
					text-align: center;
					display: inline-table;
					width: 22.9%;
					margin: 20px 2% 20px 0.5%;
					padding: 15px 20px;
					.shadow-rounded-li();
					background-color: #ffffff;
					border: 2px solid #colors[borderGray];
					border-bottom: none;

					&:nth-child(4n+0){
						margin-right: 0;
					}

					&:hover{
						.shadow-hover-li();
					}

					@media (max-width: 1200px) {
						width: 30%;
						margin: 20px 2% 20px 1.6%;

						&:nth-child(3n+0){
							margin-right: 0;
						}

						&:nth-child(4n+0){
							margin-right: 1.3%;
						}
					}

					@media (max-width: 768px) {
						width: 47%;
						margin: 20px 1.5% 20px 1.5%;

						&:nth-child(2n+0){
							margin-right: 0;
						}

						&:nth-child(3n+0),
						&:nth-child(4n+0){
							margin-right: 1.5%;
						}
					}

					@media (max-width: 580px) {
						width: 100%;
						margin: 20px 0;

						&:nth-child(2n+0),
						&:nth-child(3n+0),
						&:nth-child(4n+0){
							margin-right: 0;
						}
					}

					img{
						display: inline-block;
						width: 56px;
						height: 56px;
						background-color: #colors[red];
						border-radius: 50%;
					}

					h3{
						color: #colors[gray];
						font-weight: bold;
						font-size: 16px;
					}

					h4{
						color: #colors[red];
						font-size: 14px;
						font-weight: normal;
						margin: 15px 0;
					}

					hr{
						width: 54px;
						height: 1px;
						background-color: #colors[borderGray];
						border: none;
						margin: 10px auto;
					}

					p{
						color: #colors[gray];
						font-size: 14px;
					}
				}
			}
		}
	}

	footer{
		position: relative;
		border-top: 3px solid #colors[red];
		background-color: #colors[footerLightBrown];
		height: 222px;

		div{
			height: 105px;
			width: 100%;
			background-color: #colors[footerBrown];
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			p{
				margin: 0 auto;
				max-width: 1440px;
				color: #colors[gray];
				font-size: 14px;
			}
		}
	}
}